################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################


/.vs/MistbornMod
/bin/Debug/net8.0
/obj/Debug/net8.0/Mistborn.B00AC8B0.Up2Date
